.tasks{

}
.task{

}
.header{
	border-radius: 15px 15px 0px 0px;
    border: 2px;
    border-color: black;
    border-style: solid;
}
header .icon{
	float:left;
	border-right: 1px solid black;
}
header .icon img{
	height: auto;
	width: 150px;
}
header .search{
	margin-top: 25px;
	border: 1px solid black;
	padding-left: 5px;
	overflow: hidden; 
	height: 100px;
	width: auto;
}
header .search input{
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    outline:none;
    font-size: 25pt;
}
.date-header{
	height: 100px;
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  	background-size: 25px 25px;
  	background-position: center center;
}
.date-container{
	margin-top: -10px;
    float: right;
    padding-right: 10px;
    color: #3355aa;
    font-size: 31pt;
    font-style: italic;
}
.test{
	background-color: blue;
	height: 250px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.main-content{
	margin:0 auto;
	max-width: 1260px;
}
.tasks-container {
	background-color: #F0F9FC;
	border: 2px solid black;
	border-top: 0px;
}
.tasks{
  min-height: 500px;
  margin: 0px 150px;
  background: white;
  background-size: 25px 25px;
  background-position: center center;
}
.tasks li{
/*	color: #3355aa;
    font-size: 31pt;
    font-style: italic;
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;*/
}
.tasks .cheked{
	text-decoration: line-through;
}
.tasks .right-side-Task{
    font-size: 15pt;
    float: right;
}
.tasks ul{
/*	padding-left: 0;
	padding-right: 0;
	*/
}
.add-task{
	margin-left: 34%;
    font-size: 24pt;
    font-style: italic;
    border-radius: 25px;
}
.add-task span{
	margin-top: 3px;
}
.right-side{
	float: right;
	display: inline-block;
}
.time-sector{
	padding: 5px;
	display: inline-block;
	border: 1px solid grey;
	background-color: rgba(221, 221, 221, 0.26);
	border-radius: 5px;
}
.task-name{
	font-size: 22pt;
    max-width: 82%;
    min-width: 75%;
    color: #3355aa;
}
.task-status{
	display: inline-block;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 3px;
	color: white;
}
.task-status-successfull{
	background-color: #00AD23;
	border-color: #46b8da;
}
.task-status-unfulfilled{
	background-color: #B5121A;
	border-color: #A61C23;
}
.task-operations{
	padding-left: 5px;
    float: right;
    width: 15px;
}
.task-operation{
	font-size: 14pt; 
}
.idUI{
	display: none;
}
.menu{
	min-height: 500px;
	float: left;
	width: 150px;
}
.menu ul{
	padding: 0;
	margin: 0;
}
.menu ul li{
	list-style-type: none;
	text-decoration: none;
	border-bottom: 1px solid black;
}
.menu li a{
	color: grey;
	witdh: 100%;
	display: inline-block;
	text-decoration: none;
	padding: 15px 50px;
	font-size: 14px;
	font-weight: bold;
}